# Server Configuration
PORT=3081

# Supabase Configuration
SUPABASE_URL=your_supabase_url
SUPABASE_KEY=your_supabase_key
SUPABASE_SERVICE_KEY=your_supabase_service_key

# OpenAI Configuration
OPENAI_API_KEY=your_openai_api_key
OPENAI_EMBEDDINGS_MODEL=text-embedding-3-small
OPENAI_CHAT_MODEL=gpt-4-turbo-preview 